/* GENERAL STYLES */

*{
    margin: 0px;
    padding: 0px;
    font-family: Arial Black;
}

/* NAVBAR STYLE */
nav {
    background-color: #FFC53A;
    padding: 30px;
    border-bottom: solid #c5972b;
    color: white;
    font-size: 25px;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
    align-items: center;
}
nav ul {
  list-style-type: none;
}
nav #navUsername {
  text-decoration: none;
  font-size: 20px;
  text-align: center;
  color: black;
}

#logoImage {
  background-image: url(/public/Splash.svg);
}

/* HOMEPAGE STYLES */

.homepage {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: #FFC53A; 
}
.homepage #box1, #box2 {
  padding: 20px;
}
.homepage #box1Text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  font-size: 25px;
}
.homepage #box1 {
  order: 1;
  flex-grow: 1;
  display: flex;
}
#box1 img {
  width: 290px;
  height: 250px;
}
.homepage #box2 {
  order: 2;
}
#box2 form input{
  padding: 50px;
  height: 2px;
  width: 500px;
  font-size: 30px;
  border-radius: 50px;
  border: solid grey;
  text-align: center;
}
#box2 form fieldset {
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  border-radius: 20px;
  padding: 50px;
}
#box2 form button {
  border-radius: 50%;
  font-size: 30px;
  width: 80px;
  color: white;
  border: none;
  padding: 20px;
  background-color: #9932CC;
}
#box2 form p {
  color:red;
  font-size: 50px;
}

/* TRANSLATION STYLES */

.translation {
  padding: 20px;
  background-color: #fecf60;
}

.translation #translations #images{
  display: inline;
}
#imageField {
  padding: 20px;
  margin: 20px;
  background-color: white;
}
#translationField {
  padding: 20px;
  margin: 20px;
}
.translation form input{
  padding: 50px;
  height: 2px;
  width: 500px;
  font-size: 30px;
  border-radius: 50px;
  border: solid grey;
  text-align: center;
}
.translation form fieldset {
  box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
  border-radius: 20px;
  padding: 50px;
  background-color: #FFC53A;
}
.translation form button {
  border-radius: 50%;
  font-size: 30px;
  width: 80px;
  color: white;
  border: none;
  padding: 20px;
  background-color: #9932CC;
}

/* PROFILE STYLES */

.profile {
  background-color: #fecf60;
}
.profile #translationHistory {
  padding: 20px;
}
.profile #translationHistory ul {
  padding: 20px;
}

#profileHeader {
  padding: 20px;
}
#welcomeText {
  padding: 20px;
}
#welcomeUser {
  font-size: 25px;
  color: #9932CC;
  display: inline-block;
}
.buttons {
  list-style-type: none;
}
.profile .buttons #clearHistoryButton {
  margin: 20px;
  padding: 10px;
  background-color: #9932CC;
}
.profile .buttons #logoutButton {
  margin: 20px;
  padding: 10px;
  background-color: #be2020;
}